streamlit==1.20.0e
n-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.4
GitPython==3.1.31
pandas==1.5.3
pdfplumber==0.8.0
PyPDF2==3.0.1
scikit-learn==1.2.1
scipy==1.10.1
sklearn==0.0.post1
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
